---
import { byPrice } from "../../../js/backend.mjs";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/OffreCard.astro";
const { prix } = Astro.params;
const offres = await byPrice(prix);
---

<Layout titre=`prix - ${prix}`>
    <h1 class="text-center text-2xl mt-10 font-bold">
        Maison à moins de {prix}€
    </h1>
    <ul
        class="flex flex-wrap justify-center items-start items-center gap-10 p-10"
    >
        {
            offres.map((offre) => (
                <li>
                    <Card offre={offre} />
                </li>
            ))
        }
    </ul>
</Layout>
